body {
    background : url("icons/mountains-5536397_1920.jpg") center ;
    background-size: cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header{
    position : absolute ;
    top : 10px ;
    left : 10px ;
}

a{
    font-size : 30px ;
    color : rgb(3, 248, 244) ;
    text-decoration: none ;
    cursor: pointer ;
}

.form {
    display: flex;
    flex-direction: row ;
    align-items: center;
    margin-bottom: 10px;
}

.location_input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.location-btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left : 5px ;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.location-btn:hover {
    background-color: #27ae60;
}

.big-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.633);
    opacity : 0.7 ;
    padding: 10px;
    border-radius: 15px;
    max-width: 525px;
    height : 535px ;
}

.container-1,
.container-2,
.container-3 {
    align-items: center;
    display : flex ;
    justify-content: space-between;
    width : 500px ;  
}

.temperature {
    font-size: 30px;
    font-weight: bold;
    color: #e74c3c;
}

.container-1 p,
.container-2 p,
.container-3 p {
    margin: 5px 0;
    font-size: 15px;
    color: #0e0e0e;
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px;
    text-align: center;
}

b{
    font-size: 18px ;
}

.superscript {
    font-size: 0.6em;
    vertical-align: super;
}

.initial-img {
    width: 100px;
    height: auto;
}

.container-2 img,
.container-3 img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.site-footer {
    background-color: #fafafd01;
    color: #fff;
    width: 100%;
   
}
  
  .footer-content {
    width: 25%;
    font-size : 15px ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width : 600px){
    body{
        background-size: auto ;
    }

    .big-container{
        overflow : auto ;
        height : 450px;
    }

    .container-1,
    .container-2,
    .container-3{
        display : flex ;
        flex-direction : column ;
        width : 200px ;
    }

    .footer-content{
        width: 100%;
        font-size: 12px;
    }
}


